*{
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
  }
body{
    background-color: #e6e6e6;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239f9ca4' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
a:visited{
    color: black;
}

.container{
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 80%;
    margin: 1em auto;
    column-gap: 5px;
    row-gap: 5px;
}
h2{
    padding-bottom: 10px;
}

.container .nav-barra{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #003580;
    border: 1px solid rgb(0, 0, 0);
    height: 56px;
    grid-column: 1/6;
    /* color:  #d9ebff; */
    
}
.nav-barra_mobil_informacion i{
    font-size: 2em;
    padding-right: 15px;
    color: #fff8dc;
}

.nav-barra ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    list-style: none;
    
}
.div_informacion_lista{
    list-style: none;
    line-height: 1.6;
}
.div_informacion_lista > li > P > span{
    font-weight: bold;
    padding-right: 10px;
}

.nav-barra ul li{
    margin-right: 30px;
    
    
    /* height: max-content;
    box-sizing:content-box; */
    /* align-items: stretch; */
}

.nav-barra ul li a,
.nav-barra a{
    text-decoration: none;
    color:cornsilk;
    font-size: 20px;
    display: block;
    padding: .5em 1em;
    
    
}
.nav-barra ul li a:hover,
.nav-barra a:hover{
    /* align-items: stretch; */
    color:   #ffffff;
    /* font-weight: bold; */
    background-color: #022d68;
}
/* MENU NAV */
#menu_abierto{
    display: none;
    visibility: hidden;
}
.icono_menu input{
    z-index: 200;
    padding-left: 10%;
    size: 2em;
}
.icono_menu i{
    z-index: 150;
    position: relative;
}
.estado_menu:checked ~ #menu_abierto,
.estado_menu:checked ~ .enlaces_barra_mobil{
    display: inline-block;
    visibility: visible;
    /* z-index: 50; */
    /* color: aqua; */
}

.estado_menu:checked ~ #menu_cerrado{
    display: none;
    visibility: hidden;

}
.estado_menu{
    height: 2em;
    width: 3em;
    /* display: inline; */
    position: relative;
    opacity: 0;
    /* size: 2em; */
    left: 44%;
    z-index: 100;
}
.enlaces_barra_mobil{
    display: none;
    visibility: hidden;
    background-color: #004bb4;
    /* z-index: 30; */
    position: absolute;
    top: 58px;
    right: 10px;
    width: 100vw;
}
.enlaces_barra_mobil a{
    text-align: center;

}


/*  */
.main,
.aside,
.projects,
.footer,
.nav-barra{
    /* box-shadow: 8px 5px 13px 1px rgba(83,83,83,0.6); */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    border-radius: 5px;
}

.container .main{
    /* border: 1px solid #3D56B2; */
    grid-column: 1/4;
}

.main .main_sobre_mi p{
    text-align: justify;
}
.main_formacion p{
    text-align: center;
}

.container .aside{
    display: flex;
    flex-direction: column;
    align-content: center;
    /* border:1px solid #3D56B2; */
    grid-column: 4/6;
}

.container .projects{
    /* border:1px solid #3D56B2; */
    grid-column: 1/6;
    height: auto;
}

.container .footer{
    /* border: 1px solid #3D56B2; */
    grid-column: 1/6;
    height: 56px;
    padding: 15px;
    background-color: #5C7AEA;
}
.info_contacto a{
    color: #fff8dc;
}

.container > .main, 
.container > .aside, 
.container > .projects{
    padding: 15px;
    background-color: #ffffff;
}
.div_imagen{
    width: 80%;
    margin: 1px auto;
}
.aside_imagen{
    /* filter: blur(2rem); */
    width: 100%;
    /* margin: 10px auto; */
    margin-top: 0.5em;
    /* justify-content: center; */
}
.separador{
    margin: 1.5em 1em;
    border: 1.7px solid #3D56B2;
}
.separador.mobil{
    display: none;
}
.div_aptitudes{
    line-height: 1.5;
    margin-left: 1em;
}
.main_habilidades li{
    margin-left: 1em;
}
.main_habilidades_especificas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em 1em;
    justify-content: center;
    /* align-content: center; */
    
}
.herramienta_dev{
    display: flex;
    justify-content: center;
    width: 30%;
    margin: 1px auto;
}
.herramienta_dev a img{
    height: auto;
    width: 100px;
    
    justify-content: center;
}
.habilidad{
    padding: 10px;
    background-color: #e6e6e6 ;
    border-radius: 10px;
    
}
.project_elemento{
    display: flex;
    flex-direction: row;
    /* column-gap: 10x; */
    flex-wrap: wrap;
    justify-content: space-around;
}
.proj{
    /* height: 9em; */
    width: auto;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}
.proj_descripcion{
    text-align: center;
    background-color: #e6e6e6;
}
/* .projects .project_elemento div:first-child{
    /* background-image: url(/public/imagenes/contruccion.png); */
    /* background-color: aqua; */
    /*width: auto;
    height: 10em;
} */

.project_elemento img{
    /* max-width: 100%; */
    height: 8em;
    width: 195px;
    /* object-fit: cover; */
    border-radius: 10px;
    margin: 1px 0;

}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logos_redes i{
    font-size:  2em;
    margin-right: .4em;
}
.nav-barra.mobil{
    display: none;
    visibility: hidden;
}
/* MEDIA Vista Mobil */
@media only screen and (min-width: 420px){
    /* .nav-barra .mobil{
        visibility: hidden;
    } */
}
@media only screen and (max-width: 420px){
    .container{
        margin: 0;
        row-gap:unset;
        /* height: auto; */
    }
    nav.nav-barra:nth-child(1){ 
        display: none;
        visibility: hidden;
    }
    .nav-barra.mobil{
        display: flex;
        visibility: visible;
        grid-row: 1/2;
        border-radius: 0%;
    }
    .container{
        /* font-family: 'Oxygen', sans-serif; */
        /* display: grid;
        grid-template-columns: repeat(5, 1fr); */
        width: 100%;
        height: 50em;
        /* margin: 1em auto; */
        /* column-gap: 5px;
        row-gap: 5px; */
        grid-template-rows: repeat(3, 1rf) auto 1fr;
    }
    .container .main{
        grid-column: 1/6;
        grid-row: 3/5;
    }
    .container .aside{
        grid-column: 1/6;
        grid-row: 2/3;
        
    }
    .projects{
        grid-row: 5/6 !important;
        height: max-content !important;
    }
    .proj{
        margin-bottom: .5em;
    }

    .project_elemento{
        flex-direction: column;
    }
    .project_elemento div img{
        /* display: ; */
        width: 100%;
        /* display: flex;
        flex-direction: row;
        column-gap: 15px; */
    }
    .separador.mobil{
        display:block;
    }
    .footer{
        /* display: flex; */
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        border-radius: 0%;
    }
}
